body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}
.titre,
.lien {
  z-index: 1;
  font-family: "Anton", sans-serif;
}
.titre {
  color: #fff;
  font-size: 6rem;
  text-transform: uppercase;
}
.lien {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  background-color: teal;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
